div{
	height: 100px;
	width: 100px;
}

.container{
	height: 400px;
	width: 400px;
	margin: auto;
	border: 1px solid black;
	position: relative;
}

.satu{
	background-color: green;
	margin: auto;
}

.dua{
	background-color: yellow;
	margin: auto;
}

.tiga{
	background-color: red;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
}