div{
	width: 600px;
	margin: 10px auto;
	box-sizing: border-box;
}

.satu{
	background-color: blue;
	padding: 25px;
	border: 30px solid red;
}

.dua{
	background-color: green;
	padding: 30px;
	border: 10px dashed orange;
}