.container{
	height: 100px;
	display: flex;

	 /* row|column|row-reverse|column-reverse -> untuk mengatur arah flex */
	flex-direction: row;

	/* untuk membuat kontent turun ke bawah : wrap|nowrap|wrap-reverse */
	flex-wrap: wrap;

	/* untuk mengatur jarak antar content : flex-start|flex-end|center|space-between|space-around|space-evenly */
	/*justify-content: space-evenly; */

	/* digunakan untuk mengatur perilaku penjajaran items terhadap cross axis atau vertical 
	   : flex-start|flex-end|center|stretch;
	*/
	/*align-items: center;*/
}

.container div{
	background-color: blue;
	margin: 2px;

	/* untuk mengatur lebar ukuran dari kontent */
	flex: 1;
}

.container div.dua{
	flex: 3;
}
